*{
    box-sizing: border-box;
    position: relative;
}
a{
    text-decoration: none;
}

html,body{
    font-family: "微軟正黑體";
}

img{
    vertical-align: top;
}


/* 圖片比例 */
.outter{
    width: 100%;
}
.outter-client{
    width: 14.5%;
}

.fm-image-container{
    width: 100%;
}
.fm-image-container::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 75%;
}
.fm-image-container .image{
    /* background-color: gray; */
    background-image: url('/image/fakeimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fm-image-container.ratio-1-1::before{
    padding-top: 100%;
}
.fm-image-container.ratio-2-3::before{
    padding-top: 150%;
}
.fm-image-container.ratio-16-9::before{
    padding-top: 56.25%;
}
.fm-image-container.ratio-header::before{
    padding-top: 25%;
}

/* layout */
.container{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.main-container{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


.header .container .button{
    width: 110px;
    position: absolute;
    z-index: 1;
    right: 24px;
    top: 24px;
}
.header .container .hamburger{
    display: none;
}
.header .container .hamburger .hamburger-line{
    display: none;
}
.button .button-item{
    text-align: center;
    margin: 10px 0px;
}
.button .button-link{
    font-size: 10px;
    display: block;
    padding: 15px 5px;
    border-radius: 5px;
    background-color: aqua;
}
.navbar .container{
    background-color: blue;
}
.navbar .nav{
    display: flex;
    justify-content: center
}

.navbar .nav .nav-link{
    display: inline-block;
    padding: 20px;
    color: white;
    line-height: 24px;
}

.navbar .nav .nav-link:hover{
    background-color: bisque;
}

.navbar .container .product-menu{
    display: none;
}
.navbar .container .shoppingcar{
    display: none;
}

.navbar .main-container .search{
    width: 22%;
    background-color: blue;
    position: absolute;
    transform: translate(0%,-100%);
}
.navbar .main-container .search .input-search{
    width: 100%;
    height: 45px;
}
/* .navbar .searchbar{
    display: none;
} */

aside{
    width: 22%;
    height: 200px;
    /* background-color: azure; */
}

aside .class-item{
    background-color: orange;
    border-radius: 5px;
    box-shadow: 3px 3px 12px #cccccc;
}
aside .class-item .class-link{
    color: white;
    margin: 30px 0 0;
    padding: 15px;
    display: block;
}


article{
    width: 74%;
    height: 100%;
    /* background-color: blanchedalmond; */
}
article .breadcrumb{
    margin-top: 30px;
    padding: 10px;
}
article .product{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
article .product .product-item{
    width: 30%;
    margin: 1%;
    padding-bottom: 50px;
    background-color:lightsalmon;
}

article .product .product-item p{
    margin: 10px;;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.customer-list{
    width: 100%;
    height: 100%;
    margin: 20px 0;
    /* background-color: yellow; */
}

.list{
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
}

.list::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: gray;
}

.customer-list .customer-item{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.customer-list .customer-item .outter-client{
    margin: 1%;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: gray;
}
.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer p{
    color: white;
    text-align: center;
}

@media screen and (max-width: 992px){
    .navbar .main-container .search{
        display: none;
    }
    .navbar .searchbar{
        width: 100%;
        background-color: black;
    }
    .navbar .searchbar .input-search{
        width: 100%;
    }
    .header .container .button{
        width: 110px;
        position: absolute;
        z-index: 1;
        right: 24px;
        top: 10px;
    }
    .button .button-link{
        padding: 10px 5px;
    }
}

@media screen and (max-width: 768px){
    
    .header .container .hamburger{
        background-color: white;
        width: 50px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 10px;
        border: 1px solid black;
        border-radius: 3px;
        display: block;
    }
    .header .container .hamburger .hamburger-line{
        width: 40px;
        height: 3px;
        background-color: black;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0px 10px 0px black, 0px -10px 0px black;
        display: block;
    }
    .navbar .container .product-menu{
        display: block;
        color: orangered;
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0%,-50%);
    }
    .navbar .container .shoppingcar{
        display: block;
        color: white;
        font-size: 10px;
        padding: 15px;
        border-radius: 5px;
        background-color: lightblue;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0%,-50%);
    }
    .navbar .container{
        height: 60px;
    }
    .header .container .button .button-item{
        display: none;
    }
    .navbar .container .nav{
        display: none;
    }
    .main-container{
        width: 90%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .outter-client{
        width: 30%;
    }
    article .product .product-item{
        width: 47%;
        margin: 1%;
    }
}

@media screen and (max-width: 576px){
    .fm-image-container.ratio-header::before{
        padding-top: 50%;
    }
    .outter-client{
        width: 30%;
    }
    aside{
        width: 100%;
        height: 200px;
        display: none;
        /* background-color: azure; */
    }
    article{
        width: 100%;
        height: 100%;
    }
    article .breadcrumb{
        padding: 15px;
        margin: 15px 0;
    }
    article .breadcrumb::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: gray;
    }
    .main-container{
        width: 100%;
        height: 100%;
        padding: 0 5px;
        display: block;
        margin: 0 auto;
    }
    article .product .product-item{
        width: 47%;
        margin: 1%;
    }
}

